.gradient-background {
  height: 120vh;
  background: radial-gradient(circle at top right, #ffa200, #6eda78 );
}

.select-lang {
  width: 100px;
  float: right;
  margin: 5px;
}

.grid-button-test {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 90vh;
    gap: 10vh;
}

.button-test {
  padding: 70px 150px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  padding-left: 20px;
  font-size:30px;
  font-weight: bold;
}

.button-test .button-main-text {
  font-size: 14px;
  font-weight: bold; 
}

.button-test .button-sub-text {
  font-size: 14px;
}

.button-home {
  display: flex;
  justify-content: center; 
  align-items: center; 
}